<p>At <b>{{ time }}</b></p>
<p>The following error: "<b>{{ error }}</b>"</p>
<p>Occurred in the "<b>{{ module }} module</b>"</p>
{{#if server}}<p>Server: <b>{{ server }}</b></p>{{/if}}
<p>This module will be disabled until <b>{{ duration }}</b></p>